@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Poppins", sans-serif;
  outline: none;
}

:root {
  --black1: rgb(23 23 23);
  --outblack: rgb(20 20 20);
  --skyblue1: #0ef;
}
.mySkyText {
  color: #0ef;
}
#root {
  background: var(--outblack);
  overflow: hidden;
}

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(250 250 250/0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(250 250 250/0.5);
}

main {
  @apply relative px-10 flex flex-col text-white max-w-[1200px] mx-auto h-screen;
  background: var(--black1);
}
main section {
  @apply relative pb-20 grid grid-cols-2 place-items-center h-full;
  z-index: 1;
}
main .bubbles {
  @apply absolute bottom-0 left-0 h-[40%] w-full;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: inherit;
  background-position: center;
  background-size: 20%;
}
main .bubbles::before {
  content: "";
  @apply absolute h-full w-full;
  background-image: linear-gradient(to top, transparent, var(--black1) 50%);
}

/* Navbar  */

nav {
  @apply py-4 flex justify-between text-xl sticky top-0;
  background: var(--black1);
}

nav svg {
  @apply absolute h-9;
  color: var(--skyblue1);
}

nav ul {
  @apply flex;
}
nav ul li {
  @apply px-4;
}
nav ul a:hover {
  color: rgb(200 200 200);
}
nav ul .active {
  @apply relative;
  color: var(--skyblue1) !important;
}
nav ul .active::before {
  @apply rounded-sm absolute -bottom-1 w-[90%] h-[2px] left-[5%];
  content: "";
  background: var(--skyblue1);
}

section {
  @apply grow;
}
/* Home Page  */

.home .handles {
  @apply flex gap-6 mt-4;
}
.picCover {
  @apply relative;
  animation: lift 3s ease-in-out infinite;
}
.picCover img {
  @apply h-[25rem];
}
@keyframes lift {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
.picCover::before {
  @apply absolute h-[50%] bottom-[15%] left-[25%] w-[50%] rotate-45 -z-10;
  content: "";
  box-shadow: 25px 25px 60px var(--skyblue1);
}
.home .handles li {
  @apply w-min p-2.5 rounded-full cursor-pointer;
  border: 2.5px solid var(--skyblue1);
}
.home .handles svg {
  @apply cursor-pointer;
  fill: var(--skyblue1);
  fill: white;
  height: 24px;
  width: 24px;
}

.home .handles li:hover svg {
  @apply scale-110;
}
.home .cvButton {
  @apply mx-0 w-min whitespace-nowrap mt-6;
}

/* About Page  */
.about .aboutText span {
  color: var(--skyblue1);
}
.about .readMoreBtn {
  @apply rounded-2xl w-min p-2 text-black font-semibold whitespace-nowrap px-4 cursor-pointer;
  background: var(--skyblue1);
}

/* Skills Page  */
.skills {
  @apply flex flex-col justify-center gap-6;
}
.skill {
  @apply relative w-min;
}
.skill .circle {
  @apply relative rotate-[270deg];
  width: 150px;
  height: 150px;
}
.skill .circle circle {
  @apply w-full h-full fill-transparent stroke-neutral-500 stroke-[5];
  transform: translate(5px, 5px);
}

.skill .circle circle:nth-child(2) {
  stroke: var(--skyblue1);
}

.skill .circle circle:nth-child(2) {
  /* animation: fillStroke 1s linear 1; */
  stroke-dasharray: 360;
}
@keyframes fillStroke {
  0% {
    stroke-dasharray: 0;
  }
  100% {
    stroke-dasharray: 100%;
  }
}

.skill .dot {
  @apply h-full w-full absolute z-10 flex justify-center;
}
.skill .dot::before {
  @apply absolute w-[15px] h-[15px] rounded-full top-[-3px] z-20;
  background: white;
  content: "";
}
.skill .dot::after {
  @apply absolute w-[7px] h-[7px] rounded-full top-[1px] z-20;
  background: var(--skyblue1);
  content: "";
}
.skill .skillLogo {
  @apply absolute top-[40%] left-1/2 -translate-x-1/2 -translate-y-1/2 h-10;
}
.skill .tailwindLogo {
  @apply h-12;
}
.skill .bootstrapLogo {
  background-image: radial-gradient(white 50%, transparent 50%);
}
.skill span {
  @apply absolute left-1/2 -translate-x-1/2 bottom-8 font-semibold text-lg tracking-[1px];
}
.skillsCover {
  @apply grid w-full place-items-center gap-10 py-4;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.skillsCover .stars {
  @apply flex gap-1;
}
.skillsCover .stars svg {
  @apply h-5 fill-gray-200;
  content: "★";
}
.skillCover {
  @apply grid place-items-center gap-4;
}
.skillsCover .stars-5 svg {
  fill: var(--skyblue1);
}
.skillsCover .stars-4 svg:nth-last-child(n + 2) {
  fill: var(--skyblue1);
}
.skillsCover .stars-3 svg:nth-last-child(n + 3) {
  fill: var(--skyblue1);
}
.skillsCover .stars-2 svg:nth-last-child(n + 4) {
  fill: var(--skyblue1);
}
.skillsCover .stars-1 svg:first-child {
  fill: var(--skyblue1);
}
/* Project Page  */
.projects {
  @apply flex flex-col;
}
.projects .github {
  @apply absolute h-8 top-4 right-4 bg-white rounded-full z-20;
}
section header {
  @apply text-4xl font-semibold mb-6;
}
section header span {
  color: var(--skyblue1);
}
.projects .cards {
  @apply grid gap-4 grow w-full overflow-auto;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-rows: min-content;
  max-height: calc(100vh - 210px);
}
.projects .card {
  @apply flex flex-col mx-auto relative rounded-2xl overflow-hidden bg-neutral-500 p-4 h-full w-full;
  background: rgb(40 40 40);
}
.projects .card .imgBox {
  @apply w-full min-h-[160px] max-h-[160px] rounded-lg overflow-hidden;
}
.projects .card img {
  @apply mx-auto w-full h-full object-contain;
}
.projects .card p {
  @apply line-clamp-2;
}
/* .projects .view {
  @apply absolute h-full w-full top-0 left-0 z-10 grid place-items-center translate-y-full;
  background: linear-gradient(to top, rgb(0 238 255/0.7) 50%, transparent);
  transition: 0.15s transform ease-in;
}
.projects .card:hover .view {
  @apply translate-y-0;
} */

.projects .card .github {
  @apply hover:scale-110 cursor-pointer h-8 w-8 border;
}

.projects .visitBtn {
  @apply text-white font-semibold w-full block text-center;
}

.projects .cards .title {
  @apply font-semibold text-xl mt-4 mb-1.5;
}
/* Contact Page  */

.contact {
  @apply flex flex-col items-center justify-center;
}
.contact form {
  @apply grid grid-cols-2 gap-4 py-6 w-[600px] max-w-full;
  grid-template-rows: repeat(4, min-content);
}
.contact form input,
.contact form textarea {
  @apply bg-neutral-800 p-2 px-4 rounded h-min placeholder:focus-within:text-transparent border border-transparent;
}
.contact form input:focus,
.contact form textarea:focus {
  border: 1px solid var(--skyblue1);
}
.contact form textarea {
  @apply bg-neutral-800 resize-none col-span-2 h-[250px];
}

.contact form button,
.myButton {
  @apply rounded-2xl text-black font-semibold p-3 px-5 col-span-2 mx-auto h-min;
  background: var(--skyblue1);
}
